build/
release/
debug/

*.pro.user
*.qmake.stash
*.qmake.cache

*.o
*.obj
*.exe
*.dll
*.so
*.a

.vscode/
.vs/
*.swp
*.log
*.tmp

.DS_Store

Makefile*
moc_*.cpp
qrc_*.cpp
ui_*.h

deploy/

*.user
*.user.* 
